<!doctype html>
<html>
    <head>
        <meta charset="utf-8">

        <title>@name@</title>

        <link rel="stylesheet" type="text/css" href="styles/main.css">
    </head>
    <body data-ng-app="@name@">

        <div class="wrapper" data-ng-view></div>

        <script src="scripts/vendor/angular/angular.js"></script>
        <script src="scripts/vendor/angular-route/angular-route.js"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/home.js"></script>
    </body>
</html>