/**
 * ninit
 *
 * @author: André König (andre.koenig@posteo.de)
 * 
 */

h1, h2, h3, h4, h5 {
    font-weight:400;
    font-family: 'Lato', sans-serif;
}

a {
    color:#3498db;
    font-weight:400;
    text-decoration:none;

    -webkit-transition: all .2s linear .2s;
    -moz-transition: all .2s linear .2s;
    -o-transition: all .2s linear .2s;
    transition: all .2s linear .2s;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
}

.image-round {
    border-radius:50%;
}

.button {
    background:#3498db;
    color:#fff !important;
    opacity:.85;
    display:inline-block;
}

.button:hover {
    opacity:1;
}

.button-success {
    background:rgba(116, 174, 18, .98);
}

.button.button-block {
    line-height:50px;
    margin:40px 0;
    text-align:center;
    width:100%;
}

#wrapper {
    margin:0 auto;
    width:700px;
}

.header {}

.header.header-main {
    margin:200px 0 100px;
    text-align:center;
}

.header.header-main h1 {
    font-size:300%;
    font-weight:400;
}

.header.header-main h2 {
    color:rgba(0, 0, 0, .5);
    font-size:140%;
    font-weight:300;
}

.navigation {}

.navigation.navigation-main {
    border:solid rgba(0, 0, 0, .06);
    border-width:1px 0;
    list-style-type:none;
    margin:0;
    padding:0;
    margin-bottom:80px;
    padding:20px 0;
    text-align:center;
}

.navigation.navigation-main .navigation-main-entry {
    display:inline-block;
    padding:0 12px;
}

.navigation.navigation-main .navigation-main-entry a {
    color:#000;
    font-size:95%;
    opacity:.8;
}

.navigation.navigation-main .navigation-main-entry a:hover {
    color:#3498db;
}

.fragment {
    margin:160px 0 120px;
}

.fragment .fragment-title {
    font-size:200%;
}

.fragment .fragment-paragraph {
    color:rgba(0, 0, 0, .8);
    font-size:95%;
    line-height:2em;
}

#about .fragment-title {
    color:rgba(192, 65, 51, .98);
}

#install .fragment-title {
    color:#e67e22;
}

#usage .fragment-title {
    color:#2ecc71;
}

#templates .fragment-title {
    color:#3498db;
}

#templates a {
    color:#3498db;
}

#contributing .fragment-title {
    color:rgba(116, 174, 18, .98);
}

.copyright {
    font-size:90%;
    line-height:80px;
    text-align:center;
}

.copyright .copyright-avatar {
    margin:0 10px -16px;
}

.copyright a {
    color:rgba(0, 0, 0, .8);
    font-size:94%;
}

.template-list {
    list-style-type:none;
    margin:0;
    padding:20px 0;
}

.template-list .template-list-entry {
    border:solid rgba(0, 0, 0, .06);
    border-width:1px 0 0;
    padding:15px 10px;
}

.template-list .template-list-entry strong {
    color:rgba(0, 0, 0, .6);
    padding:0 5px;
}

.template-list .template-list-entry.last {
    border-width:1px 0 1px;
}

.codebox {
    background:rgba(0, 0, 0, .02);
    color:rgba(0, 0, 0, .6);
    font-size:120%;
    padding:40px 40px 20px;
}